@page
@model acme.Pages.ProfileModel
@{
    ViewData["Title"] = "User Profile";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="~/css/profile.css" />
<script type="text/javascript" src="~/js/profilePagination.js"></script>


<div class="container">
    <h3 class="hero-title ml-3 text-center">@ViewData["Title"]</h3>
    <div class="top-section">
        <img src="@Model.UserProfileImage" alt="Profile Image" class="profile-image">
        <div class="profile-details">
            <h3 class="hero-title">@Model.UserName</h3>
            <p><i class="fas fa-envelope"></i> @Model.UserEmailAddress</p>
            @if (Model.employee!=null && Model.employee.Email == Model.UserEmailAddress)
            {
                <h4>Team: @Model.employee.Company?.Name</h4>
            }
            else
            {
                <h4>Team</h4>
                <p>No team information available</p>
            }
        </div>
    </div>
    <div class="profile-backgroundbar"></div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="hero-title ml-3 text-center">Your suggestions:</h3>
            <div id="votesContainer">
                @if (Model.SuggestionsWithVoteCount != null)
                {
                    foreach (var suggestionWithCount in Model.SuggestionsWithVoteCount)
                    {
                        <div class="vote-info">
                            <h3 class="hero-title ml-3">@suggestionWithCount.Suggestion?.Name</h3>
                            <p class="subtitle">
                                Location: @suggestionWithCount.Suggestion?.Location<br>
                                Description: @suggestionWithCount.Suggestion?.Description<br>
                                Exception: @suggestionWithCount.Suggestion?.Exception<br>
                                Votes: @suggestionWithCount.VoteCount
                            </p>
                        </div>
                    }
                }
                else
                {
                    <p>No suggestions available.</p>
                }
            </div>

            <div class="pagination">
                <!-- Pagination controls will be dynamically inserted here -->
            </div>
        </div>
    </div>
</div>

