@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<IndexModel> stringLocalizer;


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="logo mx-5" asp-area="" asp-page="/Index">Talpa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-black" asp-area="" asp-page="/Excursions/Suggest">@stringLocalizer["SuggestNav"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" asp-area="" asp-page="/Excursions/Vote">@stringLocalizer["VoteNav"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" asp-area="" asp-page="/Leaderboard">@stringLocalizer["LeaderboardNav"]</a>
                    </li>
                    @if (@Context.Session.GetString("rName") == "manager")
                    {
                        <li class="nav-item">
                                <a class="nav-link text-black" asp-area=""
                                   asp-page="/Excursions/Poll">@stringLocalizer["NavPoll"]</a>
                        </li>
                    }

                     <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-page="/PhotoAlbum/AddPhoto">@stringLocalizer["AddPhotoNav"]</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-page="/PhotoAlbum/ShowPhotos">@stringLocalizer["ShowPhotoNav"]</a>
                </li>
                </ul>
            }

            <div class="mx-5 align-middle">
                @if (User.Identity.IsAuthenticated)
                {
                    @if (@Context.Session.GetString("rName") == "manager")

                    {
                        <p class="nav-item align-middle">
                            <a class="nav-link text-dark display-6" asp-area=""
                               asp-page="/Account/Profile">@stringLocalizer["WelcomeManager"] @User.Identity.Name!</a>
                        </p>
                       
                    }
                    else
                    {
                        <p class="nav-item align-middle">
                            <a class="nav-link text-dark display-6" asp-area=""
                               asp-page="/Account/Profile">@stringLocalizer["WelcomeUser"] @User.Identity.Name!</a>
                        </p>

                    }


                    <p class="nav-item">
                        <a class="nav-link text-dark display-6" asp-area=""
                           asp-page="/Account/Logout">@stringLocalizer["Logout"]</a>
                    </p>
                }
                else
                {
                    <p class="align-middle">

                        <a id="login-button" class="nav-link text-dark display-6" asp-area=""
                           asp-page="/Account/Login">@stringLocalizer["Login"]</a>

                    </p>

                }
            </div>

            <div class="btn-group lang-control">
                <img src="~/assets/flags/@(ViewData["CountryCode"]?.ToString() ?? "EN").png" class="flag-icon mx-2" id="current-language" />
                <button type="button" class="lang-control-button">@ViewData["CountryCode"]</button>
                <button type="button" class="dropdown-toggle dropdown-toggle-split lang-control-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu lang-dropdown">
                    <li class="d-flex mx-2"><img src="~/assets/flags/EN.png" class="flag-icon" /><a class="dropdown-item w-auto" href="#">EN</a></li>
                    <li class="d-flex mx-2"><img src="~/assets/flags/NL.png" class="flag-icon" /><a class="dropdown-item w-auto" href="#">NL</a></li>

                </ul>
            </div>


        </div>
    </div>
</nav>
