@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@model CGI_Project_WebApp.Pages.Excursions.PollModel
@inject IStringLocalizer<IndexModel> stringLocalizer;
@inject IHtmlLocalizer<IndexModel> htmlLocalizer;
@{
	ViewData["Title"] = "Poll";
}

<div class="backgroundbar"></div>

<div class="hero container">
	<div class="container">
		<h3 class="hero-title mt-5">@stringLocalizer["PollTitle"]</h3>
		<h5 class="subtitle">@stringLocalizer["SuggestSubtitle"]</h5>
	</div>
</div>

<div class="container mb-5">
	<form method="post">
		<input asp-for="Poll.Poll_name" type="text" id="pname" placeholder="Poll name..."/><br/>
		<input asp-for="Poll.Period" type="date" id="pdate" placeholder="Select date range..." rows="3"></input><br/>
		
		@if (Model.Poll. != null)
		{
			<select asp-for="Poll.PollSuggestions" id="psuggestions" placeholder="Select suggestions..." multiple>
				@foreach (var suggestion in Model.Poll.)
				{
					<option value="@suggestion">@suggestion</option>
				}
			</select>
			<br/>
		}
		else
		{
			<span class="">No suggestions have been done, ask your employees to make suggestions</span>
		}

		<button class="btn btn-primary border-0 text-white fs-6 fw-bold hero-button mt-4 ms-3" type="submit">@stringLocalizer["SubmitButton"]</button>
	</form>
</div>