@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@model IndexModel
@inject IStringLocalizer<IndexModel> stringLocalizer;
@{
    ViewData["Title"] = "Home page";
}

<div class="hero">
    <div class="container w-100 m-0 mx-auto">
        <div class="row align-items-center py-5 hero-content">
            <div class="w-50 text-center text-lg-start mx-auto mb-5">
                <h1 class="display-6 lh-1 mb-3 hero-title">@stringLocalizer["HeroTitle"]</h1>
                <p class="col-lg-10 fs-5 text-black-50 mt-5">@stringLocalizer["HeroSubtitle"]</p>
                <div class="d-grid gap-2  col-md-3">
                    <a id="hero-tag" href="../Excursions/Suggest"> <button class="btn btn-primary border-0 text-white fs-6 fw-bold hero-button" type="button">@stringLocalizer["HeroButton"]</button></a>
                </div>
            </div>
            <div class="col-md-5 mx-auto col-lg-5 hero-img-container p-0">
                <div class="row m-0 hero-block-blue"></div>
                <div class="row m-0 hero-block-red"></div>
                <img src="/assets/hero-img.png" class="img-fluid hero-img" alt="Hero Image" />
            </div>
        </div>
    </div>
</div>

<div class=" m-0 p-5 recent">
    <h2 class=" p-3 mx-5 text-center text-lg-start recent-title">@stringLocalizer["RecentTitle"]</h2>
        @if (Model?.RecentExcursions.Count() > 0)
        {
        <div class="row row-cols-1 row-cols-lg-@(Math.Min((byte)Model?.RecentExcursions?.Count, (byte)3)) align-items-stretch mx-5 g-4 py-5">
            @for (int i = 0; i < Model?.RecentExcursions.Count; i++)
            {
                if (Model?.RecentExcursions[i]?.Name != null)
                {
                            
                <div class="col">
                    <div class="lc-block card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" lc-helper="background" style="background:url(https://images.unsplash.com/photo-1444910958049-f45a1ac7ace5?crop=entropy&amp;amp;cs=tinysrgb&amp;amp;fit=crop&amp;amp;fm=jpg&amp;amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8MTA2fHxmbG93ZXJzfGVufDB8MHx8fDE2MjE1MDQwMjg&amp;amp;ixlib=rb-1.2.1&amp;amp;q=80&amp;amp;w=1080&amp;amp;h=76)  center / cover no-repeat;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <div class="lc-block pt-5 mt-5 mb-4 ">
                                <div editable="rich ">
                                    <h2 class="display-6 lh-1 fw-bold blur">@Model?.RecentExcursions[i]?.Name</h2>
                                    <p class="blur">@Model?.RecentExcursions[i]?.Description</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div><p>20-08-2023</p></div>
                                    <div><a class="btn btn-link btn-sm text-white " href="#" role="button">@stringLocalizer["ReadMore"]</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }
        </div>
        }
        
</div>


